@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --mat-sys-primary: var(--primary);
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

:root {
  --background: #fcfcfc;
  --primary: #171717;
  --tertiary: #000000;
  --border: #e5e5e5;
  --radius: 0.5rem;

  --mat-form-field-outlined-outline-color: var(--border);
  --mat-table-row-item-outline-color: var(--border);
}

:root {
  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      outlined-container-shape: 4px,
    )
  );
}

::ng-deep {
  .error-snackbar {
    --mdc-snackbar-container-color: #d32f2f;
    --mdc-snackbar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }

  .success-snackbar {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #fff;
    --mat-snack-bar-button-color: #fff;
  }
}
